 
body, html{
  overflow:hidden; 
  margin:0px !important; 
  padding:0px !important;
}
.parent {
  display: flex;
}

.content {
  flex: 1; /* Takes Remaining Space */
 
  padding: 20px;
}

.sideXbar {
  width: 300px;
  height: 100vh; /* Full Screen Height */
  background: #0000004d;
 
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  z-index:30000;
}


 